# Solution .gitignore
/.vs
/FileChangeDataset
/Debug
/Release
/bin
/obj

# RansomwareWatcher Project .gitignore
RansomwareWatcher/bin
RansomwareWatcher/obj

# CLRFuzzyShannonDLL Project .gitignore
CLRFuzzyShannonDLL/Debug
CLRFuzzyShannonDLL/Release

# FuzzyShannonStaticLib Project .gitignore
FuzzyShannonStaticLib/Debug
FuzzyShannonStaticLib/Release